<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <% if (error) { %>
        <p class="error-message"><%=error %></p>
    <% } %>

    <form action="/user/" method="post">
        <input type="text" name="nameInput" placeholder="Add name to delete">

        <button type="submit" name="action" value="deleteUser">Delete user</button>
    </form>
</body>
</html>